const Discord = require("discord.js");
const botconfig = require("./botconfig.json");
const colours = require("./colours.json");
const superagent = require("superagent")
const db = require('quick.db')

const bot = new Discord.Client({disableEveryone: true});

require("./util/eventHandler")(bot)

const fs = require("fs");
const { url } = require("inspector");
bot.commands = new Discord.Collection();
bot.aliases = new Discord.Collection();


fs.readdir(`./commands/${dirs}`, (err, files) => {

if(err) console.log(err)

    let jsfile = files.filter(f => f.split(".").pop() === "js") 
    if(jsfile.length <= 0) {
        return console.log("[LOGS] Couldn't Find Commands!");
    }

    jsfile.forEach((f, i) => {
        let pull = require(`./commands/${dirs}/${f}`);
        bot.commands.set(pull.config.name, pull);
        if(!pull.config.aliases) return;

        pull.config.aliases.forEach(alias => {
            bot.aliases.set(alias, pull.config.name)
        });
    });
});



bot.on("message", async message => {
    if(message.author.bot || message.channel.type === "dm") return;

    let pref = db.get(`prefix.${message.guild.id}`);
    let prefix;
  
    if (!pref) {
        prefix = "!";
    } else {
        prefix = pref;
    }

    let messageArray = message.content.split(" ")
    let cmd = messageArray[0].toLowerCase();
    let args = messageArray.slice(1);


    if(!message.content.startsWith(prefix)) return;
    let commandfile = bot.commands.get(cmd.slice(prefix.length)) || bot.commands.get(bot.aliases.get(cmd.slice(prefix.length)))
    if(commandfile) commandfile.run(bot,message,args,prefix)

})

//Display message when joining a server

bot.on("guildCreate", guild => {
    var found = false;
    guild.channels.forEach(function(channel, id) {
        // If a channel is already found, nothing more needs to be done
        if(found == true || channel.type != "text") {
          return;
        }
        // If the channel isn't found and the bot has permission to 
        // send and read messages in the channel, send a welcome message there
        if(guild.me.permissionsIn(channel).some("SEND_MESSAGES") && guild.me.permissionsIn(channel).some("VIEW_CHANNEL")) {
            found = true;

            let jEmbed = new Discord.MessageEmbed()
            .setTitle("Thank you for inviting me!")
            .setDescription(`\`\`\`My prefix is "${botconfig.prefix}", you can get more information on a command with "${botconfig.prefix}help <command>".\`\`\``)
            .addField("Normal", "", true)
            .addField("Info", "", true)
            .addField("Admin", "", true)
            .setTimestamp()
            .setFooter(`${botconfig.embedfooter}`, bot.user.displayAvatarURL());

            channel.send({embed: jEmbed})

            const filter = m => m.author.id === guild.owner.id || m.author.hasPermission("MANAGE_GUILD");
            const collector = message.channel.createMessageCollector(filter, m => m.author.id === message.author.id, { time: 25000 ,idle: 15000, errors: ['time'] });
            collector.on('collect', message => {
            if (message.content.toLowerCase() == dataCorrectAnswer.toLowerCase()) {
                message.channel.send("Correct! You got the Question Right!");
                collector.stop()
            } else if(message.content.toLowerCase().includes(`${prefix}trivia`||`${prefix}quiz`||`${prefix}question`)){
                collector.stop()
            } else {
                message.channel.send(`Too bad, you're wrong. The Correct Answer was ${parseHtmlEnteties(entities.decode(dataCorrectAnswer))}`);
                collector.stop()
            }
        })
        }
    })
});

//Server Boost Notification



//smt smt


bot.login(botconfig.token);